[Unit]
Description=Run curator every 5 minutes

[Timer]
# Run after booting one minute
OnBootSec=0min
# Run every one hour or one munite
# OnUnitActiveSec=1h
#OnUnitActiveSec=5min
OnCalendar=*:0/5
Unit=curator.service

[Install]
WantedBy=multi-user.target
